html {
	min-height: 100%;
	position: relative;
}
body {
	margin: 0;
	margin-bottom: 40px;
}


footer {
	background-image: url("https://i.ibb.co/zS74RRT/fondo-Madera.jpg");
	position: absolute;
	min-height: 20%;
	bottom: 0;
	left: 0px;
	width: -webkit-fill-available;
}

.labels {
  font: oblique bold 120% cursive;
}
#local {
  font: oblique bold 120% cursive;
}
.labelTitle {
	    margin-top: 20%;
  font: oblique bold 250% cursive;
}
.labels2 {
  font: oblique bold 100% cursive;
}

#inicio {
	text-align: center;
	height: -webkit-fill-available;
    width: -webkit-fill-available;
}
.newDiv{
	margin: 10% 0% !important; 

}

.divFoot{
	margin: 60% 0% !important;
}
.divCenter{
	margin: 60% 0% !important;
}

#headerPlayers {
	position: absolute;
	width: 96.9%;
	text-align: center;
	top: 0;
}
.name{
	background-color: rgb(21,654,987,50%);
 	padding: 0.32%;
  	margin: 0 7%;
  	display: inline-block;
}

.footerIndex {
	min-height: auto !important;
}

.changes {
	visibility: collapse;
}

.labels {
	font-size: 2rem;
}

.titleDash {
	margin-top: 1%;
}

.playersDash {
	margin-top: 5%;
}

.playerCard {
	max-width: 200px !important;
}

.maxTamCardPlayer {
	max-height: 170px;
}

.gameBackground {
	background: #008000;
	max-width: 100% !important;
	border: 30px solid transparent;
	border-image:url("https://i.ibb.co/zS74RRT/fondo-Madera.jpg") 30 30 round;
	display: flex;
}


.gameBackgroundIcons {
	background: #008000;
	max-width: 15%!important;
	border: 30px solid transparent;
	border-image:url("https://i.ibb.co/zS74RRT/fondo-Madera.jpg") 30 30 round;
	display: flex;
}

.container {
}

.centerElements {
	justify-content: center;
}

.marginFoot {
	margin: 5px 30px !important;
}

.row {

}

.column {
	float:left;
	width: 50%;
}

.connected-sortable {
	list-style: none;
}

.positionFoot {
	background: blue;
}

.inGameScreen {
	display: flex;
}

#cardsGame {
	display: flex;
	flex-wrap: wrap;
}

.tableCards {
	width: 95%;
	height: 77vh;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
}
.hola21{
	
}

.claseNueva {
	background-image: url("https://i.ibb.co/zS74RRT/fondo-Madera.jpg");
	border-image:url("https://i.ibb.co/zS74RRT/fondo-Madera.jpg") 30 30 round;
	text-align: center;
	border:double; 
	margin: 0;
}

.iconTam {
	width: 90%;
	border-radius: 20px;
	max-width: 110px;
	max-height: 110px;
}

.colTam {
	display: flex;
	margin: 0 5px;
	flex-wrap: wrap;
}

.cardsTam {
	height: 80px !important;
	width: 60px !important;
}

.local {
	margin-top: 5%;
    text-align-last: center;
}

footer .cardsTam {
	width: 60px;
	height: 120px;
	border: 2px solid;
}


.newRow {
	width: 25% !important;
	min-height: 130px;
	background-color: gray;
	margin: 0% 45%;
    margin-left: 0%;
    border: 10px solid;
    border-bottom: 15px solid;
    border-image: url("https://i.ibb.co/zS74RRT/fondo-Madera.jpg") 30 30 round;
    margin-right: 0%;
}


#tableGame > div {
	width: 100% !important;
}

#tableGame {
	display: flex;
	flex-wrap: wrap;
	align-content: space-between;
}

.droppable-image {
	background-image: url("https://i.ibb.co/X8Lb8zN/addCard.png") ;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.titleJoin {
	margin-top: 40%: 
}

.joinBottom {

}

.orText {
	margin-top: 20%;
	margin-bottom: 20%;
}

.inputRoom {
	margin-top: 0%;
}